.grid-container {
    position: absolute;
}

.grid-display {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.grid {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
