.token-palette {
    position: relative;
    background-color: #fff2;
}

.token-palette > .token-controls {
    position: relative;
}

.token-palette > .token-controls > .token-trash {
    position: absolute;
    right: 0;
    top: 0;
}

.token-palette > .new-token {
    position: absolute;
    right: -310px;
    top: 0;
    width: 300px;
    height: 200px;
    padding: 0 5px;
    background-color: #fff3;
}
